*{
  font-family: "Inter";
}

body{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 84px;
  margin-left: 16px;
  margin-bottom: 48px;
  font-weight: 800;
  color: #cbd7f3;
  position: sticky;
  top: 140px;
  z-index: -1;
}

a{
  text-decoration: none;
}

p{
  font-size: 20px;
  font-weight: 600;
}